<!DOCTYPE html>
<html>

<head>
    <title>Matkaklubi - Matkad</title>
    <%- include ("../partials/header.ejs") %>
        <link rel="stylesheet" href="/stylesheets/treks.css">
</head>

<body>
    <div class="container-fluid pais-sektsioon">
        <%- include ("../partials/nav.ejs") %>
            <div class="matkad">
                <% for(let i=0; i < matkad.length; i++) { %>
                    <div class="matk">
                        <div class="pealkiri">
                            <%= matkad[i].title %>
                        </div>
                    
                        <div class"kirjeldus"><%= matkad[i].description %></div>
                        <div class"algab-kl"><%= matkad[i].startsAt %></div>
                        <div class"lõpeb-kl"><%= matkad[i].endsAt %></div>
                        <div class"alguse-koht"><%= matkad[i].startingLocation %></div>
                        <div class"hind"><%= matkad[i].price %></div>
                        <div class"pilt"><%= matkad[i].imageUrl %></div><br>
                    </div>
                    <% } %>
            </div>
    </div>
</body>

</html>