<!DOCTYPE html>
<html>

<head>
    <title>Matkaklubi - Matkad</title>
    <%- include ("../partials/header.ejs") %>
        <link rel="stylesheet" href="/stylesheets/treks.css">
</head>

<body>
    <div class="container-fluid pais-sektsioon">
        <%- include ("../partials/nav.ejs") %>
            <div class="matkad">
                <% for(let i=0; i < matkad.length; i++) { %>
                    <div class="matk">
                        <div class="pealkiri">
                            <%= matkad[i].title %>
                        </div>

                        <div class"kirjeldus">
                            <%= matkad[i].description %>
                        </div>
                        <div class"algab-kl">
                            <%= matkad[i].startsAt %>
                        </div>
                        <div class"lõpeb-kl">
                            <%= matkad[i].endsAt %>
                        </div>
                        <div class"lõpeb-kl">
                            <%= matkad[i].startingLocation %>
                        </div>
                        <div class="matka-asukoht">
                            <a href=<%=`https://www.google.com/maps/@${matkad[i].locationLatitude},${matkad[i].locationLongitude},19z`
                                %>
                                target="_blank"><%= matkad[i].locationDescription %></a>
                        </div>
                        <div class"hind">
                            <%= matkad[i].price %>
                        </div><br>
                        <div class"pilt"><img src=<%=matkad[i].imageUrl %> width="400" heigth="350"></div><br>
                        <a href=<%=`treks/${matkad[i].id}`%> class="btn btn-dark matkanupp">Registreeru matkale</a>

                    </div>
                    <% } %>
            </div>
            <%- include ("../partials/footer.ejs") %>
    </div>
    
</body>

</html>